.App{
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content :center;
    align-items: center;


}

.animated-heading {
    color: red;
    position: absolute; /* Allows us to animate the text's position */
    animation: animateText 5s linear infinite;
  }
  
  @keyframes animateText {
    0% {
      left: -100%; /* Initial position of the text outside the screen on the left */
    }
    100% {
      left: 100%; /* Final position of the text outside the screen on the right */
    }
  }
