.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(37, 30, 30);
 
}

.login-card {
  height: 400px;
  width: 300px;
  padding: 10px;
  border-radius: none;
  box-shadow: 0 2px 4px black;
  background-color: rgb(0, 0, 0);
  border: 1px solid black;
 
}

/* Additional styling for inputs and button */
input {
  margin-bottom: 10px;
  background:dimgrey;
  border: 2px solid blue;
  width: 300px;
  height: 25px;
  margin-top: 0px;
  border: none;
  color: white;
  border-radius: 80px;




}

::placeholder{
  color: black;

}
 button{
  color: white;
  border-radius: 75px;
  width: 300px;
  margin-top: 10px;
  font-size: 20px;
  background-color: green;
  border: 1px solid green;
  
 }
 button:hover{
  box-shadow: 2px -2px 6px #05b94a, 
  6px 6px 12px #0bd157
}

 h2{
  font-weight: 700;
  font-size: 30px;
  color:dimgrey;

 }
 p{
  color: white;
  margin-top: 15px;
  margin-bottom: 10px;
 }
 a{
  text-decoration: none;
  font-size: 12px;
 }

 .signup{
  margin-top: 35px;
  font-size: 20px;
  height: 50px;
  color:dimgrey;
  
  
 }

 