/*.App{
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content :center;
    align-items: center;


}*/

/*.animated-heading {
    color: blue;
    position: absolute;  Allows us to animate the text's position
    animation: animateText 5s linear infinite;
  }
  
 /* @keyframes animateText {
    0% {
      left: -100%; /* Text enters the screen on the left 
    }
    100% {
      left: 100%; /* Text goes out through the right 
    }
  }
